
.postContainer{
  display: flex;
  padding: 0 5%;

  @media (max-width: 800px) {
    flex-direction: column;

 }

}

.categories{
  h3{
    background-color: $lightOrange;
    margin-top: 25px;
    width: 300px;
    font-size: 30px;
    text-align: center;
    padding:5px;
    font-weight: bold;
    color:$dark;
  }
}

.category{
  border-bottom: 1px $lightOrange solid;
  color: $dark-purple;
  margin-top: 5px;
  

}
.post{
    max-width: 1200px;
    margin: 0 auto;
    img{
        width: 70%;
       
    }
    .post_title {
        color: $dark;
        font-size: 30px;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 15px;
        width: 100%;
        margin-top: 25px;
        &::before {
          content: " ";
          width: 80px;
          height: 80px;
          padding: 2px;
          margin-right: 5px;
          background-color: $lightOrange;
        }
        @media (max-width: 800px) {
           max-width: 100%;

        }
     }
     p {
        color: $dark-purple;
        padding: 20px 0;
        max-width:500px;
        line-height: 20px;
        font-size: 20px;
      }

      a {
        background-color: $lightOrange;
        color: $dark-purple;
        padding: 10px;
        text-decoration: none;
        border-radius: $border;
        font-weight: bold;
        &:hover {
          background-color: darken($lightOrange, 10%);
        }
      }

}