.footer{
    background-color: $dark;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: $lightOrange;
    font-weight: bold;
    margin-top: 20px;

}