html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  background-color: #312c51;
  padding: 0 5%;
  border-bottom: #f0c38e 2px solid;
  max-width: 100%;
  box-sizing: border-box; }
  .header nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 800px) {
      .header nav {
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse; } }
    .header nav button {
      display: none; }
      @media (max-width: 800px) {
        .header nav button {
          display: block;
          border: none;
          position: absolute;
          left: 0;
          margin: 5px;
          background-color: #f0c38e;
          border-radius: 10px;
          cursor: pointer; } }
      .header nav button img {
        width: 40px; }
  .header .logo {
    margin-top: 20px;
    width: 250px;
    transition: transform .5s; }
    .header .logo:hover {
      transform: scale(1.01); }
    @media (max-width: 800px) {
      .header .logo {
        margin-left: 50px;
        width: 200px; } }
  .header ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 800px) {
      .header ul {
        display: none; } }
    .header ul li {
      background-color: #e2e2e2;
      border-radius: 10px;
      transition: background-color .5s;
      padding: 8px;
      margin: 5px;
      border: 2px solid #e2e2e2;
      font-weight: bold; }
      @media (max-width: 800px) {
        .header ul li {
          width: 100%;
          text-align: center;
          margin-left: 20px; } }
      .header ul li:hover {
        background-color: white;
        border: 2px solid #f0c38e; }
      .header ul li a {
        color: #48426d;
        text-decoration: none; }

.footer {
  background-color: #312c51;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #f0c38e;
  font-weight: bold;
  margin-top: 20px; }

.footer {
  background-color: #312c51;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #f0c38e;
  font-weight: bold;
  margin-top: 20px; }

.postContainer {
  display: flex;
  padding: 0 5%; }
  @media (max-width: 800px) {
    .postContainer {
      flex-direction: column; } }

.categories h3 {
  background-color: #f0c38e;
  margin-top: 25px;
  width: 300px;
  font-size: 30px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  color: #312c51; }

.category {
  border-bottom: 1px #f0c38e solid;
  color: #48426d;
  margin-top: 5px; }

.post {
  max-width: 1200px;
  margin: 0 auto; }
  .post img {
    width: 70%; }
  .post .post_title {
    color: #312c51;
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 15px;
    width: 100%;
    margin-top: 25px; }
    .post .post_title::before {
      content: " ";
      width: 80px;
      height: 80px;
      padding: 2px;
      margin-right: 5px;
      background-color: #f0c38e; }
    @media (max-width: 800px) {
      .post .post_title {
        max-width: 100%; } }
  .post p {
    color: #48426d;
    padding: 20px 0;
    max-width: 500px;
    line-height: 20px;
    font-size: 20px; }
  .post a {
    background-color: #f0c38e;
    color: #48426d;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold; }
    .post a:hover {
      background-color: #eaab61; }

body {
  font-family: "Nunito", sans-serif; }

.main {
  height: 100%;
  margin: 0 auto;
  width: 80%; }
  @media (max-width: 800px) {
    .main {
      margin: 0;
      width: 100%;
      box-sizing: border-box; } }
  .main h1 {
    color: #312c51;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    margin: 30px 0;
    background-color: #f0c38e;
    width: 100%;
    padding: 20px; }
    @media (max-width: 800px) {
      .main h1 {
        width: 100%;
        box-sizing: border-box;
        font-size: 18px; } }

.post-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 60px; }
  .post-box div {
    width: 33%; }
    @media (max-width: 800px) {
      .post-box div {
        width: 100%;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  @media (max-width: 800px) {
    .post-box {
      flex-direction: column;
      justify-content: center; } }
  .post-box div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px; }
    .post-box div:first-child .post_title {
      font-size: 35px;
      width: 100%;
      margin-bottom: 35px; }
      @media (max-width: 800px) {
        .post-box div:first-child .post_title {
          width: 100%;
          box-sizing: border-box;
          font-size: 18px; } }
    .post-box div:first-child img {
      min-width: 100%; }
    .post-box div:first-child p {
      font-size: 20px;
      line-height: 50px;
      max-width: 100%; }
      @media (max-width: 800px) {
        .post-box div:first-child p {
          line-height: 25px;
          text-align: center; } }
    .post-box div:first-child a {
      font-size: 25px; }
  .post-box p {
    color: #48426d;
    padding-bottom: 20px;
    max-width: 300px;
    line-height: 20px; }
  .post-box img {
    width: 300px;
    border-radius: 10px; }
    @media (max-width: 800px) {
      .post-box img {
        width: 288px; } }
  .post-box .post_title {
    color: #312c51;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 15px;
    width: 400px; }
    .post-box .post_title::before {
      content: " ";
      width: 80px;
      height: 80px;
      padding: 2px;
      margin-right: 5px;
      background-color: #f0c38e; }
    @media (max-width: 800px) {
      .post-box .post_title {
        max-width: 288px; } }
  .post-box a {
    background-color: #f0c38e;
    color: #48426d;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold; }
    .post-box a:hover {
      background-color: #eaab61; }

/*# sourceMappingURL=styles.css.map */
